body {
    width: 1200;
}

.row {
    display: flex;
    color: whitesmoke;
}
.col {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: rgb(85, 148, 148);
}

.col-2 {
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: rgb(85, 148, 148);
}

.col-3 {
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color: rgb(85, 148, 148);
}

/* Solution CSS code below

.row {
    display: flex;
}

.col, .col-2, .col-3 {
    margin: 10px;
    padding: 10px;
    background-color: cadetblue;
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
} */